.project {
	width: 100%;
	height: 600px;
}

#box-color {
	width: 100px;
	height: 100px;
}

#project2 img {
	text-align: center;
	width: 400px;
	height: 400px;
}

/*---------------------PROJECT 3------------*/
#project3 {
 	color: #fff;
	background-color: #224870;
	text-align: center;
}

#project3 .container{
	display:  flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


.calcu {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: 160px repeat(5, 50px);
	background-color: #00916e;
	padding: 15px;
	border-radius: 32px;
	box-shadow: 10px 10px 0px 5px #00000033;
}

#project3 button {
	cursor: pointer;
	margin: 5px;
	padding: 0;
	border-radius: 32px;
	font-size: 1.5em;
	border: none;
	background-color: #00916e;
	box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

#project3 button:active {
	background-color: #006f54;
}

#project3 button:focus {
	outline: none;
}

#project3 .display {
	grid-column: 1/-1;
	padding: 16px;
	display: flex;
	margin: 10px 10px 20px;
	flex-direction: column;
	align-items: flex-end;
	background-color: #363636;
	border-radius: 32px;
	text-align: right;
	justify-content: space-between;
	word-break: break-all;
	box-shadow: 0px 0px 0px 10px #00000033;
}

#project3 .col-2 {
	grid-column: span 2;
}

#project3 #valor-actual {
	font-size: 1.5em;
}

#project3 #valor-anterior {
	font-size: 2em;
}

/*-------PROJECT 4------*/


/*-------PROJECT 5-----*/
#project5 {
	background: linear-gradient(180deg, #3ad093, #1a5597) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#project5 h1 {
	text-align: center;
}

#wrapper {
	width: 300px;
	height: 370px;
	position:relative;
	text-align: center;
	border: 3px solid rgba(225,225,225,0.5);
	border-left: none;
	border-right: none;
	margin: 10% auto 0 auto;
}

#wrapper .logo {
	width: 90px;
	height: 90px;
	color: rgba(255, 255, 255, 0.5);
	background-color: #1a5597;
	position: relative;
	top: -50px;
	left: 36%;
	border-radius: 90px;
	border:2px solid rgba(225,225,225,0.5);
}

#wrapper .logo span {
	color: rgba(225,225,225,0.5);
	font-size: 30px;
	position: absolute;
	left: 25px;
	top: 28px;
}

#wrapper h2 {
	position:relative; 
	font-size: 30px;
	top: -20px;
	font-weight: bold;
}

#wrapper form input {
	display: block;
	position: relative;
	background: rgba(225,225,225,0.5);
	border:none;
	border-radius: 5px;
	height: 30px;
	width: 100%;
	margin: 15px 0;
	color: #000;
	outline: none;
}

#wrapper form input[type="button"] {
	border-radius: 20px;
	font-weight: bold;
	background: #1a5597;
	color: rgba(225, 225, 225, 0.5);
	cursor: pointer;
}

#wrapper form input[type="button"]:hover {
	background-color: #3ad093;
	color: rgba(0,0,0,0.5);
}

#wrapper .remember {
	display: inline;
	float: left;
	margin-top: 10px;
	font-size: 16px;
}


#wrapper a {
	margin-top: 10px;
	float: right;
	display: inline;
	text-decoration: none;
	color: #000;
}